.em-loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;

  .em-loader {
    border: 2px solid @primary-color;
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.5s linear infinite;
  }
}
